#gift-order{
    border: 1px solid #dcdcdc;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.row-message{
    /* border: 1px solid green; */
    width: 100%;
    height: auto;
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    padding: 5px;
}
.gift-order{
    background: #f5f5f5;
    /* border: 1px solid red; */
    padding: 15px;
}
/* Addtress details */
.gift-message{
    /* border: 1px solid blue; */
    width: 100%;
    height: auto;
}
.recipients-name{
    width: 25%;
}
#recipients-name{
    
}
.your-name{
    width: 25%;
    margin-left: 10px;
    
}
/* Addtress details  Row - 2*/
.street-details{
    width: 50%;
}
.landmark-details{
    width: 50%;
}
/* Addtress details  Row - 3*/
.city-name{
    width: 25%;
}
.area-details{
    width: 50%;
}
.pin-code{
    width: 25%;
}
/* Addtress details  Row - 4*/
.address-nickname{

}
.btn-group{
    margin-top: 10px;
}
.checkbox{

}
.btn-group button{
    padding: 7px 10px 4px;
    background: white;
    border: 1px solid #666666;
    /* margin-left: 10px; */
}
.btn button{
    margin-left: 10px;
    padding: 8px 15px 8px;
}
.add-address-btn{
    color: white;
    background: #666666;
    border: none;
}
.cancel-btn{
    background: white;
    border: 1px solid #666666;
}
